.overlay {
    width: 100%; height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.overlay-light {
    @include overlay-size;
    @include flex-center;
    @include overlay-grid; 
    background-color: $card-light-bg;
    border: 1px solid $light-border;
    border-radius: $overlay-border-radius;
}

.overlay-dark {
    @include overlay-size; 
    color: white;
    background-color: black;
}